/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  background-image:url("https://prog-8.com/images/html/advanced/top_en.png");
  background-repeat:no-repeat;
  background-size:100%;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Write your code below */
.head-first{
  font-size:45px;
  letter-spacing:5px;
  color:white;
  opacity:0.7;
  text-align:center;
  padding-top:180px;
  margin-bottom:10px;
}

.head-second{
  font-size:45px;
  letter-spacing:5px;
  color:white;
  opacity:0.7;
  text-align:center;
  margin-bottom:10px;
}



.para-first{
  color:white;
  opacity:0.7;
  text-align:center;
  margin-bottom:3px;
}

.para-second{
  color:white;
  opacity:0.7;
  text-align:center;
  margin-bottom:20px;
}

.email{
  font-family: "Lucida Grande";
 background-color:#239b76;
 border-style:none;
 color:white;
 opacity:0.8;
 padding:12px 24px;
 border-radius:5px;
 margin-bottom:10px;
 font-size:15px;
}

.facebook{
  font-family: "Lucida Grande";
 background-color:#3b5998;
 border-style:none;
 color:white;
 opacity:0.8;
 padding:12px 24px;
 margin-right:10px;
 border-radius:5px;
 font-size:15px;
}

.twitter{
 font-family: "Lucida Grande";
 background-color:#55acee;
 border-style:none;
 color:white;
 opacity:0.8;
 padding:12px 24px;
 border-radius:5px;
 font-size:15px;
}

.button{
  text-align:center;
  padding-bottom:20px;
  margin-bottom:100px;
}


.button p{
  color:white;
  opacity:0.7;
  margin-bottom:10px;
}

.fa{
  margin-right:5px;
}

.email:hover{
  opacity:1;
  cursor:pointer;
}

.facebook:hover{
  opacity:1;
  cursor:pointer;
}

.twitter:hover{
  opacity:1;
  cursor:pointer;
}


